*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.form{
    position: fixed;
    background-image: url(./bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.form-box{
    background: rgba(148, 146, 146, 0.2);
    width: 35%;
    text-align: center;
    position: relative;
    margin: 7% auto;
    border-radius: 0 10%;
    border: 4px solid #fff;
    box-shadow: 5px 5px 10px gray;
}

.form-frame{
    padding: 10%;
}

.form-header{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.form-body{
    text-align: left;
    padding: 3% 3% 0;
}

.form-attr{
    margin: 5% auto;
}

.form-input{
    color: #fff;
    border: 2px solid white;
    background-color: transparent;
    padding: 5px 10px;
    margin: auto auto auto 10px;
}

.form-input::placeholder{
    font-family: 'Julius Sans One', sans-serif;
    color: #fff;
    font-weight: 600;
}

.submit-button{
    text-align: right;
    margin: 15px auto;
}

.form-register{
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.register-link{
    text-decoration: underline;
    color: #fff;
}

.register-link:hover{
    color: rgb(190, 163, 55);
    font-weight: 600;
}

@media (max-width: 475px){
    .form-box{
        width: 70%;
        margin: 15% auto;
    }
}